.container {
  max-width: 1440px;
  width: 100%;
  background-color: #f6f8f9;
  font-family: 'Poppins';
}

/*                                        Start Header */
.header_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header_Div_for_nav_and_img {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav {
  width: 60%;
}

.header_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.688rem;
  transition: all;
}

.header_img {
  width: 1.875rem;
  height: 1.875rem;
}

.header_h1 {
  width: 55%;
  font-size: 0.813rem;
  color: #fa6980;
  animation: logo 1s infinite linear;
}

@keyframes logo{
  from {
    color: #fa6980;
  }
  to {
    color: #f6f8f9;
  }
}

.secendary_nav {
  color: #717477;
  cursor: pointer;
  transition: all;
}

.secendary_nav:hover {
  border-bottom: 2px solid #fa6980;
}

.header_home:hover {
  border-bottom: 2px solid #fa6980;
}

/*                                       Start Section First */
/*                                        Section 1 Div 1 */
.section1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Section1_div1 {
  width: 60%;
  height: 37.5rem;
  background-image: url(../Images/Page_one/Section_one/section1_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.Sec1_div1_inside_div {
  width: 70%;
  margin: 10rem auto;
  line-height: 1.5rem;
}

.sec1_div1_h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.sec1_div1_h1::after {
  content: "";
  display: flex;
  border: 1px solid white;
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sec1_div1_h3 {
  font-size: 1.5rem;
}

.sec1_button {
  border-radius: 0.5rem;
  border: none;
  background-color: #fa6980;
  color: white;
  font-size: 0.688rem;
  padding: 0.7rem;
  margin-top: 3rem;
  cursor: pointer;
  transition-property: all;
}

.sec1_button:hover {
  background-color: white;
  border: 1px solid #fa6980;
  color: #fa6980;
}

/*                                        Section 1 Div 2 */
.Section1_div2 {
  width: 40%;
  background-color: white;
}

.Sec1_div2_inside_div {
  width: 80%;
  margin: 5rem auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.sect1_title_and_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.unerline::after {
  content: "";
  display: block;
  border: 1px solid #717477;
  width: 100%;
  opacity: 0.3;
  margin-top: 2rem;
  margin-bottom: 2rem;
} 

.sect1_div2_arrows {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.fa-chevron-left {
  color: #717477;
}

.sec1_div2_h1 {
  width: 80%;
  font-weight: bold;
}

.sec1_article {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.sec1_div2_h2 {
  color: #fa6980;
  font-size: 1rem;
  font-weight: bold;
}

.sec1_div2_h3 {
  font-size: 1rem;
  font-weight: bold;
}

.all_P_article {
  color: #a6adb4;
  font-size: 0.813rem;
}

.sec1_timer_p {
  font-size: 0.813rem;
  color: #a6adb4;
}

.sec1_timer_p::before {
  font-family: "Font Awesome 5 free";
  content: "\f017";
  letter-spacing: 0.625rem;
}

/*                                      Section Two */
.section_two {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.sect2_title_and_arrows {
  /* height: 3%; */
  display: flex;
  margin: 2rem 0;
}

.sec2_h1{
  width: 90%;
  font-weight: bold;
}

.sect2_arrows {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.sec2_all_articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 21.875rem;
}

.sec2_article {
  width: 25%;
  background-color: white;
}

.sec2_artic_img {
  width: 100%;
  height: 50%;
}

.sec2_artic_text {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem auto;
}

/*                                   Section Three */
.section_three {
  width: 90%;
  /* height: 56.25rem; */
  margin: 0 auto;
}

.sect3_imges_main_div{
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section3_Div1 {
  width: 65%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sect3_Div1_img1 {
  width: 100%;
  height: 49%;
  background-image: url("../Images/Page_one/Section_three/section3_img1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.sect3_Div1_img2 {
  width: 100%;
  height: 49%;
  background-image: url("../Images/Page_one/Section_three/section3_img2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.sect3_Div1_img_text {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.sect3_Div1_img_text1 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sect3_Div1_h1 {
  font-size: 1.5rem;
  font-weight: bold;
}



.section3_Div2 {
  height: 100%;
  width: 30%;
}

.section3_Div2_inside_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3_articles {
  width: 80%;
  height: 30%;
}

.sec3_artic_img {
  width: 100%;
  height: 60%;
}

.sec3_artic_text {
  width: 100%;
  height: 40%;
  margin: 1rem auto;
}

.sect3_artic_h1 {
  font-size: 1rem;
  font-weight: bold;
}

/*                                             Footer */
.footer_box {
  width: 100%;
  background-color: #a6adb4;
  display: flex;
  justify-content: space-around;
  font-size: 0.813rem;
  padding: 2.5rem;
}

.navigation_bar {
  width: 35%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer_logo {
  color: white;
  font-weight: bold;
}

.footer_nav {
  color: #cbd0d3;
}

.email_div {
  width: 30%;
  line-height: 2rem;
}

.footer_input {
  border: none;
  width: 80%;
  height: 60%;
  background-color: #a6adb4;
  border: 1px solid #cbd0d3;
  border-radius: 0.3rem;
}

::placeholder {
  color: #cbd0d3;
}

.footer_P {
  font-size: 0.688rem;
  color: #cbd0d3;
}

.icones_div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.fa-brands {
  color: white;
}

.fa-solid {
  color: white;
}